<% if controller_name == 'stocks' && action_name == 'index' %>
  <%#= render "stocks/show", stock: stock.values.first %>

  <div class="card-product">
    <%#= link_to "#", data: { toggle: "modal", target: "#modal-#{stock.values.first}" } do %>
      <div class="card-product-infos">
        <% stock.values.second.size > 25 ? stock_name = "#{stock.values.second.first(25)} <span>...</span>".html_safe : stock_name = stock.values.second %>
        <h2><%= stock_name %></h2>
        <p><%= stock.values.first %></p>
        <br>
        <p><span><%= stock.values[3] %></span></p>
      </div>
    <%# end %>

    <%= link_to stocks_add_stock_path(stock), class: "add-stock" do %>
      <i class="far fa-lg fa-plus-square"></i>
    <% end %>
  </div>

<% else %>
  <%= render "stocks/show", stock: stock %>

  <div class="card-product">
    <%= link_to "#", data: { toggle: "modal", target: "#modal-#{stock.id}" } do %>
      <div class="card-product-infos">
        <% stock.name.size > 25 ? stock_name = "#{stock.name.first(25)} <span>...</span>".html_safe : stock_name = stock.name %>
        <h2><%= stock_name %></h2>
        <p><%= stock.ticker %></p>
        <br>
        <p><span><%= stock.region %></span></p>
      </div>
    <% end %>


    <%= link_to user_stock_path(stock), class: "delete-stock", method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="far fa-lg fa-minus-square"></i>
    <% end %>

    <div class="stars">
      <% cycles = stock.price_score.nil? ? 0 : stock.price_score.round %>
      <% cycles.times do |i| %>
        <i class="fas fa-star"></i>
      <% end %>

      <% (Stock::MAX_SCORE - cycles).times do |i| %>
        <i class="far fa-star"></i>
      <% end %>
    </div>
  </div>

  <div class="card-product-bottom">
    <div class="card-product-bottom-price-volume">
      <p><small>Price: </small><%= number_with_precision(stock.price, precision: 2, delimiter: ' ') %> <%= stock.currency %></p>
      <p><small>Volume: </small><%= number_with_precision(stock.volume, precision: 0, delimiter: ' ') %></p>
    </div>
    <div class="card-product-bottom-scores">
      <p><small>Price score: </small><%= number_with_precision(stock.price_score, precision: 2, delimiter: ' ') %> / <%= Stock::MAX_SCORE %> </p>
        <% stock_hype_score = (stock.hype_score.nil? || !stock.hype_score.finite?) ? 0 : stock.hype_score * 100 %>
      <p><small>Hype ratio: </small><%= (stock_hype_score).round %>% </p>
    </div>
    <div class="card-product-bottom-pe-ratios">
      <p><small>P/E ratio: </small><%= number_with_precision(stock.pe_ratio, precision: 2, delimiter: ' ') %></p>
      <p><small>Forward P/E: </small><%= number_with_precision(stock.forward_pe, precision: 2, delimiter: ' ') %></p>
    </div>
    <div class="card-product-refresh">
      <%= link_to stocks_refresh_stock_path(stock), class: "" do %>
        <i class="fas fa-lg fa-sync"></i>
      <% end %>
      <p><small>Updated at: </small><%= stock.updated_at.strftime("%d-%m-%y @ %H:%M") %></p>
    </div>
  </div>

<% end %>
